header {
    border:1px solid red;
    display:block;
}

#site-loading {
    display:block;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index:10000;
}

.sensor {
    margin: 1rem;
    height: 18rem;
    width: 16rem;

}

.sensor .sensor-name {
    margin-top:1rem;
}

.sensor .indicator {
    transition: all 0.5s;
    width:80%;
    height:0%;
    position:absolute;
    bottom:0;

}

.sensor > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sensor div.indicator-pad {
    width:100%;
    padding-top:100%;
    position: relative;
}

.sensor .indicator-pad .square {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sensor .sensor-type {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-position: center;
    background-size: 100% auto;
    opacity:0.6;
    background-repeat: no-repeat;
}

.sensor .sensor-type.generic {
    background-image: url('/assets/img/sensor-generic.svg');
    background-position: 0.25rem;
}

.sensor .sensor-type.temp {
    background-image: url('/assets/img/sensor-temp.svg');
    background-size: auto 60%;
}
.panel.room {
    margin: 1rem;
    min-height:29rem;
    min-width:39rem;
    /*animation: roomWidth 0.2s ease-in-out 1;*/
    /*transform-origin: left center;*/
}

@keyframes roomWidth {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.sensor-graph {
    padding-left: 18rem;
}

.sensor-graph .well{
    min-height:14rem;
}

.active-data {
    animation: datapulse 2s infinite;
}

.sensorActivity {
    width: 2rem;
    height: 2rem;
}

@keyframes datapulse {
    0% {
        color: #001F3F;
    }
    50% {
        color: #FF4136;
    }
    100% {
        color: #001F3F;
    }
}

.spinner-loading {
    animation: spinner linear 2s infinite;
}

@keyframes spinner {
    100% {
        transform:rotate(360deg);
    }
}

/* msg bell */

.msg-bell.active {
    animation: shake 3s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    38%, 62% {
        transform: translate3d(0px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(1px, 0, 0);
    }

    45%, 50%, 55% {
        transform: translate3d(-3px, 0, 0);
    }

    47.5%, 52.5% {
        transform: translate3d(3px, 0, 0);
    }
}

.panel.sidebar {
    width: 100%;
    float:left;
    margin-top: 1rem;
}

body {
    background: #b3cbf5;
}

div#user-login-out {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#user-login-out .panel {
    width: 30rem;
}

#user-login-out .panel form {
    margin: 2rem;
}

#user-login-out form .auxlink {
    display: inline-block;
    padding: 6px 12px;
}

.navbar .navbar-text .glyphicon.clickable {
    margin: 0 1rem;
    cursor: pointer;
}

div.verdisp {
    position: fixed;
    bottom: 0;
    right:0;
    margin: 0.3rem;
    background: rgba(0,0,0,0.5);
    color: #eee;
    padding:0.4rem;
}

